// 定义主题颜色规范
$color-bg: #c1c1c1;
$color-bg-d: #a1a1a1;
$color-theme: #b82525;
$color-theme-t: #cd2929;
$color-text-light: #eee;
$color-text-dark: #222;
$color-text-t-3: rgba(255, 255, 255, 0.3);
$color-text-t-2: rgba(255, 255, 255, 0.5);
$color-text-t-1: rgba(255, 255, 255, 0.8);

// 定义主题字体规范
$font-size-xm: 10px;
$font-size-sm: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
