// 定义主题颜色规范
$color-bg: #272121;
$color-bg-d: #21252b;
$color-theme: #b82525;
$color-theme-t: #cd2929;
$color-text-light: #f1f1f1;
$color-text-dark: #222;
$color-text-t-3: rgba(255, 255, 255, 0.3);
$color-text-t-2: rgba(255, 255, 255, 0.5);
$color-text-t-1: rgba(255, 255, 255, 0.8);

// 定义主题字体规范
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 22px;
